tb/cpp/obj_dir/
tb/cpp/*.vcd
tb/cpp/vectors.h
scripts/schematics/synthesis.log
scripts/schematics/*.svg
scripts/LEC/synthesis.log
scripts/LEC/abc.history
scripts/benchmarks/synthesis.log
scripts/benchmarks/abc.history
